@font-face {
    font-family: 'VWText-Regular';
    font-style: normal;
    font-weight: normal;
    src: url("VWText-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'VWHead-Bold';
    src: url("VWHead-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'VWHead-Regular';
    src: url("VWHead-Regular.otf") format("opentype");
}

body { 
    background-color: #fdfaf9; 
}

p {
    font-family: 'VWText-Regular';
}


h1 {
    font-family: 'VWHead-Bold';
    color: #1f2f57;
    text-align: center;
    font-size: 55px;
}

/*
.input-boxes {
    margin-bottom: 20px;
    margin-left: 100px;
}
*/

label, input {
    display: inline-block;
    margin-bottom: 10px;
}

label {
    font-family: 'VWText-Regular';
}

.vw-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100 vh;
}  

.model-display {
    height: 50vh;
    width: 55vw;
}

model-viewer {
    height: inherit;
    width: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    font-family: 'VWText-Regular';
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.section-header {
    font-family: 'VWHead-Regular';
    color: #6091c3;
    padding: 60px;
    text-align: center;
    font-size: 40px;
}

button {
    font-family: 'VWText-Regular';
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container div {
    padding: 10px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    background-color: #fff;
    padding: 20px;
    z-index: 1001;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

body.modal-open {
    overflow: hidden;
}

.wrapper {
    width: 450px;
    padding: 30px;
}

.wrapper .input-boxes {
    height: 40px;
    width: 100%;
    position: relative;
}

.wrapper .input-boxes input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

.input-boxes input:focus ~ label,
.input-boxes input:valid ~ label {
    transform: translateY(-25px);
    font-size: 15px;
}

.wrapper .input-boxes label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}




    
