h1 {
    text-align: center;
}

.input-boxes {
    margin-bottom: 10 px;
}

label, input {
    display: inline-block;
    margin-bottom: 10 px;
}

.vw-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100 vh;
}  

.model_display{
    height: 50vh;
    width: 50vw;
}

model-viewer{
    height: inherit;
    width: inherit;
}

/* Style the menu bar */
.menu {
  overflow: hidden;
  background-color: #333;
}

/* Style the links inside the menu bar */
.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.menu a:hover {
  background-color: #ddd;
  color: black;
}

    
